@charset "utf-8";
html{
   background: url("../images/robotron.jpg")no-repeat center center fixed;
	background-size: 1700px 800px;
}

.dosbox-container{
	width: 650px;
	height: 400px;
	left: 30%;
	top: 140px;
}
.dosbox-start {
	font-size: 35px !important;
}
button{
	align: center;
}