@charset "utf-8";
html{
   background: url("../images/Pipes.png");
}
img{
	width: 10%;
	height: auto;
}
.dosbox-container{
	width: 650px;
	height: 400px;
}
.dosbox-start {
	font-size: 35px !important;
}
button{
	position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.aladdin {
    position: absolute;
    top: 25%;
    left: 25%;
	transform: translate(-50%, -50%);
}
.commanderkeen4 {
    position: absolute;
    top: 25%;
    left: 50%;
	transform: translate(-50%, -50%);
}
.descent {
    position: absolute;
    top: 25%;
    left: 75%;
	transform: translate(-50%, -50%);
}
.doom2 {
    position: absolute;
    top: 50%;
    left: 25%;
	transform: translate(-50%, -50%);
}
.leisuresuitlarry {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mk {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.oregontrail {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.wolfenstein3d {
    position: absolute;
    top: 75%;
    left: 50%;
	transform: translate(-50%, -50%);
}
.zork {
    position: absolute;
    top: 75%;
    left: 75%;
	transform: translate(-50%, -50%);
}