@charset "utf-8";
html{
   background: url("images/pipes.png")repeat center center fixed;
}

.dosbox-container{
	width: 1300px;
	height: 800px;
	left: 15%;
	top: 140px;
}
.dosbox-start {
	font-size: 35px !important;
}
button{
	align: center;
}
