@charset "utf-8";
html{
   background: url("../images/pattern.gif");
}
embed{
	border-style: inset;
	border-width: 5px;
	width: 500px;
	height: 650px;
	position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}