@charset "utf-8";
@font-face {
    font-family: "neon";
    src: url("../fonts/neon.ttf");
}
@font-face {
    font-family: "speculum";
    src: url("../fonts/speculum.ttf");
}
html { 
	background: url("../images/trip.gif") no-repeat center center fixed; 
	background-size: cover;
}
.main {
	z-index: -5;
	background-color: #8795E8;
	opacity: 0.75;
	text-align: center;
	color: #BA01FF;
	font-size: 36px;
	font-family: neon;
	-webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #FF6AD5;
}
h2.mainText {
  position: relative;
}
blockImg {
	z-index:5;
	top: 750px;
	width: 125px;
	height: auto;
}
img {
        z-index: 5;
	width: 10%;
	height: auto;
	text-align: justify;
}
footer {
   bottom : 2px;  
   height : 22px;  
   margin-top : 40px;
   font-size: 15px;  
   text-align: center;  
   vertical-align: middle; 
   position:fixed;
   width:100%;
   font-family: speculum;
   -webkit-text-stroke-width: .7px;
   -webkit-text-stroke-color: #FF6AD5;
}
.title {
	background-image: url("../images/title.png");
    background-position: top;
    background-repeat: no-repeat;
	height: 300px;
}
home {
    width: 5px;
    height: 5px;
}
