@charset "utf-8";
html{
   background: url("../images/pattern.gif");
}
img {
	width: 10%;
	height: auto;
}
embed{
	border-style: inset;
	border-width: 5px;
	width: 500px;
	height: 650px;
	position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}
.mg_border {
    background: #3C3C3C;
    border-top: solid 3px gray;
    padding: 10px;
	text-align: center;
}
.mg_embed {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}