html { 
  background: url("images/rain.gif") no-repeat center center fixed; 
  background-size: cover;
}
.parallax {
    background-image: url("images/rain.gif");

    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
	height:1000px;
	background-color:#8795E8;
	font-size:36px;
}