@font-face {
    font-family: 'billy';
    src: url('https://github.com/7mu7/7mu7.github.io/raw/master/billy.TTF');
}
html { 
  background: url("images/rain.gif") no-repeat center center fixed; 
  background-size: cover;
}
.parallax {
    background-image: url("images/rain.gif");

    min-height: 800px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
	height:1000px;
	color:#FF6AD5;
	background-color:#8795E8;
	font-size:36px;
	font:billy;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}