@font-face {
    font-family: 'speculum';
    src: url('speculum.TTF');
}
html { 
	background: url("images/rain.gif") no-repeat center center fixed; 
	background-size: cover;
}
audio {
	font-family:speculum;
	color:#BA01FF;
	-webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #FF6AD5;
}
footer {
	text-align: center;
	font-family:speculum;
}
.parallax {
    background-image: url("images/rain.gif");
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
	height:1000px;
	text-align: center;
	color:#BA01FF;
	background-image: url("images/back.gif");
	background-size: cover;
	font-size:36px;
	font-family:speculum;
	-webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #FF6AD5;
}
#desktop {

}
@media only screen and (max-width: 1024px) {
	
}
#mobile {

}
@media only screen and (max-width: 768px) {
	
}