@charset "utf-8";
body,html{
line-height: 1;
background-image: url("images/tile.png");
margin:0px;
padding:0px;
}
.seperate {
background-image: url('images/cloud_tile.png') 
repeat-x;
alignment= top; 
height: 128px;
}
.tile {
background-image: url('images/tile.png') repeat-x top height: 128px;
}