@charset "utf-8";
@font-face {
    font-family: 'speculum';
    src: url('font/speculum.TTF');
}
body,html{
   line-height: 1;
   background-image: url("images/cloud.png");
   alignment: auto;
}
footer {
   bottom : 2px;  
   height : 22px;  
   margin-top : 40px;
   font-size: 20px;  
   text-align: center;  
   vertical-align: middle; 
   position:fixed;
   width:100%;
   -webkit-text-stroke-width: .7px;
   -webkit-text-stroke-color: #FF6AD5;
}
td {
   font-family: speculum;
   text-align:center;
   color:#fdf3b8;
   font-size: 200%;
   -webkit-text-stroke-width: .7px;
   -webkit-text-stroke-color: #FF6AD5;
}
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.top {
	background-image: url("images/cloud_tile.png");
    background-position: top;
    background-repeat: no-repeat-x;
	height: 250px;
}
.main {
	background-image: url("images/tile.png");
    background-position: center;
	background-repeat: repeat-x;
	height: 480px;
}