@charset "utf-8";
@font-face {
    font-family: 'speculum';
    src: url('speculum.TTF');
}
body,html{
line-height: 1;
background-image: url("images/cloud.png");
alignment: auto;
}
footer {
text-align: center;
}
.name {
background-image:url("images/cup3.png");
background-repeat:no-repeat;
background-position: center;
background-size: cover;
font-family: speculum;
text-align:center;
color:#fdf3b8;
font-size: 200%;
-webkit-text-stroke-width: .7px;
-webkit-text-stroke-color: #fdd6b5;
}
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.top {
	background-image: url("images/cloud_tile.png");
    background-position: top;
    background-repeat: no-repeat-x;
	height: 250px;
}
.main {
	background-image: url("images/tile.png");
    background-position: center;
	background-repeat: repeat-x;
	height: 480px;
}