@charset "utf-8";
@font-face {
    font-family: 'speculum';
    src: url('speculum.TTF');
}
html { 
	background: url("images/rain.gif") no-repeat center center fixed; 
	background-size: cover;
}
footer {
	text-align: center;
	font-family: speculum;
}
.parallax {
    background-image: url("images/rain.gif");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h9 { 
<<<<<<< HEAD
   position: absolute;   
   width: 1000px; 
=======
	font-size: 10px;
   position: relative;   
   width: 50%; 
>>>>>>> c4098c229d312af26d0b11285d9b0f42a19bdba8
}
.main {
	background-image: url("images/back.gif");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
	height: 1000px;
	text-align: center;
	color: #BA01FF;
	font-size: 36px;
	font-family: speculum;
	-webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #FF6AD5;
}
.think {
 	position: static;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	height: 100%;
 	width: 100%;
 	opacity: 1;
 	transition: .5s ease;
	background-image: url("images/main.png");
    background-repeat: no-repeat;
	background-position: top;
	background-size: 50%;
}

#desktop {

}
@media only screen and (max-width: 1024px) {
	
}
#mobile {

}
@media only screen and (max-width: 768px) {
	
}
