@charset "utf-8";
@font-face {
    font-family: 'mexcellent3d';
    src: url('mexcellent3d.TTF');
}
html { 
	background: url("images/trip.gif") no-repeat center center fixed; 
	background-size: cover;
}
.main {
	text-align: center;
	color: #BA01FF;
	font-size: 36px;
	font-family: mexcellent3d;
	-webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #FF6AD5;
}
img {
	width: 10%;
	height: auto;
	text-align: justify;
}
footer {
   bottom : 2px;  
   height : 40px;  
   margin-top : 40px;
   font-size: 20px;  
   text-align: center;  
   vertical-align: middle; 
   position:fixed;
   width:100%;
}
.title {
    width: 500%;
	height: auto;
    left:25%;
	position:relative;
}
home {
    width: 5px;
    height: 5px;
}
